/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  font-family: "Bodoni 72 Oldstyle";
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar{
  font-size: 20px;
  background-color: #333;
  border-color: #333;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-3{
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.0em;
  line-height: 1.4em;
  border-left: 8px solid #2ad2c9;
  padding-left: 14px;
  margin-bottom: 0.6em;

}
.marketing .col-lg-3 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}







/*--footer--*/
/*--footer--*/
.footer{
  background: #333;
  padding:4em 0;
}
.footer-top p{
  font-size: 0.9em;
}
ul.social-icons2 {
  margin-top: 24px;
}
.amet-sed h4{
  margin: 0 0 0.7em;
  font-size:1.6em;
  color: #fff;
  font-weight: 700;
  border-left: 6px solid #2ad2c9;
  padding-left: 9px;
  text-transform:uppercase;
}
.amet-sed p{
  margin: 0 0 0.5em;
  color: #C1BFBF;
  line-height: 1.8em;
}
ul.social li{
  list-style:none;
  padding:0.5em 0;
  font-size:0.9em;
  color: #C1BFBF;
}
ul.social li i{
  display:inline-block;
  margin-right: 12px;
  color:#fff;
}
ul.social li a {
  text-decoration:none;
  font-size:1em;
  color:#C1BFBF;
}
.amet-medium p a{
  color:#2ad2c9;
  text-decoration:none;
}
.amet-medium p a:hover{
  color:#000;
}
.footer-class{
  text-align:center;
  color:#fff;
  margin: 1.5em 0 0;
}
p.footer-class {
  font-size: 0.9em;
}
.footer-class a{
  text-decoration: none;
  color: #2ad2c9;
}
.footer-class a:hover{
  color:#fff;
}
ul.social-icons2  li{
  display:inline-block;
}
ul.social-icons2  li a.tw,ul.social-icons2  li a.fb,ul.social-icons2  li a.in {
  width:79px;
  height:89px;
  display: block;
}

ul.social-icons2  li a:hover{
  opacity:0.8;
}
ul.social{
  display: block;
  padding: 0;
  margin:1em auto 0;
}
ul.social li {
  display: block;
}
ul.social li a{
  margin-right:1em;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
  -webkit-transition: .5s all;
  transition: .5s all;
  -moz-transition: .5s all;
}
.support input[type="text"] {
  width:63%;
  padding: 12px;
  font-size: 15px;
  text-align: left;
  font-weight: 400;
  border: 1px solid #fff;
  outline:none;
  margin:0px 0px 0 0;
  webkit-appearance:none;
  background: #fff;
}
.support input[type="submit"]{
  background: #2ad2c9;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  padding: 0.88em;
  text-align: center;
  webkit-appearance: none;
  outline: none;
  width:35%;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
.support input[type="submit"]:hover{
  background:#1CB7AF;
}
.support {
  margin: 1em 0em 0 0;
  background-color: rgb(45, 45, 45);
  padding: 1em 1em;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 40px;
  height: 22px;
  border: none;
  text-indent: 100%;
  background: url(../images/move-top.png) no-repeat 0px 0px;
}
/*-- responsive-design starts-here --*/
@media (max-width: 1440px) {
  .logo a h1 {
    font-size: 2em;
    margin-left: 4.3em;
    padding-top: 4px;
  }
}
@media (max-width: 1366px) {
  .logo a h1 {
    font-size: 2em;
    margin-left: 3.2em;
    padding-top:3px;
  }


}
@media (max-width:1280px) {
  .navbar-nav > li {
    float: left;
    margin-right: 11px;
  }
  .logo a h1 {
    font-size: 2em;
    margin-left: 2em;
    padding-top: 4px;
  }
  .time-bg h4 {
    font-size: 2.5em;
    padding: 3em 0 0.5em 0;
  }
  .time-bg {
    min-height: 404px;
  }
  .ab-right {
    text-align: left;
    padding: 7em 7em;
  }
  .feature-grid {
    padding: 2em 0em 1em 0em;
  }
}
@media (max-width:1024px) {
  .logo a h1 {
    margin-left: 1em;
    padding-top: 3px;
    font-size: 1.9em;
  }
  .navbar-nav > li {
    float: left;
    margin-right: 6px;
  }
  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size:0.9em;
    padding-top:8px;
    padding-bottom:8px;
  }
  .test-review img {
    width: 30%;
    border: none;
    border-right: 6px solid #1BAFA7;
  }
  .logo a h1 {
    margin-left: 11px;
    padding-top: 9px;
    font-size: 1.5em;
  }
  h2.tittle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.1em;
  }
  h3.tittle {
    font-size: 2.2em;
  }
  .feature-grid {
    padding: 4em 0em 4em 0em;
  }
  .features-item h4 {
    font-size: 1.1em;
  }
  .feature {
    width: 49%;
    float: left;
    margin-right: 1%;
    padding:0px 7px;
  }
  .ab-right {
    text-align: left;
    padding: 6em 1em 3em 1em;
  }
  a.hi-icon img {
    margin: 19px 0 0;
    width: 45%;
  }
  .feature-grid {
    padding: 1em 0em 1em 0em;
  }
  .navbar-collapse {
    max-height: 340px;
    padding-right: 15px;
    padding-left: 15px;
    padding: 0;
  }
  .customer-say {
    padding-top: 6em;
  }
  #client {
    min-height: 580px;
  }
  .choose {
    padding:2em 2em;
  }
  h3.tittle.new {
    font-size: 2em;
  }
  .product-left ul li i {
    padding-right: 4px;
    top: 3px;
  }
  .product,.typography,#gallery,.news-section,#contact,.projects {
    padding: 5em 0;
  }
  .choose_icon {
    margin-top: 0.83em;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 92%;
  }
  .amet-sed h4 {
    margin: 0 0 0.7em;
    font-size: 1.7em;
  }

  .banner-bottom {
    padding: 5em 0 4em 0;
  }
  .choose {
    padding: 4em 3em;
  }
  .con-top.two {
    margin-left: 1em;
  }
  .btm-right .captn {
    bottom: -87%;
  }
  .captn h4 {
    font-size: 1.6em;
  }
  .btm-right:hover .captn h4 {
    margin-top: 243px;
  }
  .btm-right1 .captn1 {
    bottom: -67%;
  }
  .btm-right1:hover .captn1 h5 {
    margin-top: 72px;
  }
  .app-devices {
    width: 73%;
    margin: 30px 0 0 0;
  }
}
@media (max-width:991px) {
  .navbar-default .navbar-nav > li > a {
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar {
    width: 61%;
    float: right;
    padding: 1.7em 0;
  }
  .ab-right {
    text-align: left;
    padding: 4em 1em 3em 1em;
  }
  .feature-grid {
    padding: 4em 0em 4em 0em;
  }
  .feature {
    width: 49%;
    float: left;
    margin-right: 1%;
    padding: 0px 14px;
  }
  .col-news-right img,.col-news img {
    width: 100%;
  }
  .ab-left,.feature-grid-image {
    padding: 0 15px;
    width: 66%;
    margin: 0 auto;
  }
  .btm-right .captn {
    bottom: -89%;
  }
  .product-left ul {
    padding: 0;
    margin-top: -1%;
  }
  .prdt-left {
    float: left;
    width: 50%;
    padding-left: 0;
  }
  .customer-grid {
    margin-top: 1em;
    float: left;
    width: 50%;
  }
  .quotes {
    float: none;
    width: 20%;
    margin-top: 1em;
    margin: 0 auto;
  }
  .de_testi_by {
    float: none;
    width: 100%;
    text-align: center;
  }
  .amet-sed.amet-medium {
    margin: 1.5em 0;
  }
  .con-top.two {
    margin-left:0em;
  }
  .de_testi {
    margin: 0;
    border: none;
    padding: 2em 2em;
  }
  h3.tittle {
    font-size: 2em;
  }
  #client {
    min-height: 510px;
  }
  .customer-say {
    padding-top: 5em;
  }
  .ban-text {
    padding: 0;
    float: left;
  }
  .time-bg h4 {
    font-size: 2.5em;
    padding: 2em 0 0.5em 0;
    line-height: 1.7em;
  }
  .product-left ul {
    padding: 0;
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .choose_icon {
    margin-top: 1.8em;
  }
  .support {
    margin: 0.5em 0em 0 0;
    padding: 1em 1em;
    width: 69%;
  }
  p#demo {
    font-size:2.3em;

  }
  .banner-two {
    min-height:200px;
  }
  p.phonenum {
    font-size: 0.875em;
    margin-top: 0;
  }
  p.location {
    font-size: 0.875em;
    width: 48%;
    margin-top: 2px;
  }
  .btm-right .captn {
    bottom: -92%;
  }
  .logo a h1 {
    margin-left: 123px;
    padding-top: 9px;
    font-size: 1.5em;
  }
  .navbar-nav > li {
    float: left;
    margin-right: 18px;
  }
}
@media (max-width:800px) {
  .leave input[type="submit"] {

    width: 17%;
  }
  .met-in {
    margin: 0 0 0 0em;
  }
  .navbar-nav > li {
    float: left;
    margin-right: 4px;
  }
  .logo a h1 {
    margin-left: 28px;
    padding-top: 9px;
    font-size: 1.5em;
  }
}
@media (max-width:768px) {
  .men {
    width: 9%;
    text-align: center;
    padding: 2.89em 0;
  }
  .logo a h1 {
    margin-left: 13px;
    padding-top: 9px;
    font-size: 1.5em;
  }
}
@media (max-width:736px) {
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  .navbar {
    width: 100%;
    float: none;
    padding: 0.5em 0;
    text-align: center;
  }
  .navbar-default .navbar-toggle {
    border-color: #333;
  }
  .navbar-toggle {
    position: relative;
    float: none;
    padding: 9px 9px;
    margin-top: 8px;
    margin-right:0!important;
    margin-bottom: 8px;
    background-color: #333333;
    background-image: none;
    border: 1px solid #333333;
    border-radius: 0!important;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#22BFB7;
    border: 1px solid #22BFB7;
  }
  .navbar-nav {
    margin: 0 1em;
    padding-bottom: 0.5em;
  }

  .navbar-nav > li {
    float: none;
    margin-right: 0;
    margin-top: 12px;
    display: block;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none!important;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 0.9em;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .logo a h1 {
    margin-left: 0;
    padding: 9px 0;
    font-size: 2em;
  }
  ul.dropdown-menu li {
    margin-top: 10px;
  }
  p.location {
    float: left;
    color: #999999;
    font-size: 0.875em;
    width: 44%;
    margin-top: 1px;
  }
  .banner-two {
    min-height: 150px;
  }
  .product, .typography, #gallery, .news-section, #contact, .projects {
    padding:4em 0;
  }
  h2.tittle {
    font-weight: bold;
    font-size: 1.8em;
  }
}
@media (max-width:667px) {
  .product, .typography, #gallery, .news-section, #contact, .projects {
    padding: 3em 0;
  }
  .customer-say {
    padding-top: 4em;
  }
  .time-bg {
    min-height: 368px;
  }
  .support {
    margin: 0.5em 0em 0 0;
    padding: 1em 1em;
    width: 87%;
  }
  .support input[type="submit"] {
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 0.88em;
    width: 28%;
  }
  .support input[type="text"] {
    width: 71%;
    padding: 12px;
    font-size: 15px;
    text-align: left;
  }
  .leave input[type="submit"] {
    font-size: 1em;
    padding: 0.8em;
    margin: 0.5em 0 0 0;
    width: 29%;
  }
  h4.info {
    font-size: 1.8em;
  }
  .btm-right .captn {
    bottom: -87%;
  }
  .btm-right1 .captn1 {
    bottom: -84%;
  }
}
@media (max-width:640px) {
  .logo a h1 {
    margin-left: 0;
    padding: 9px 0;
    font-size: 1.8em;
  }
  .support {
    margin: 0.5em 0em 0 0;
    padding: 1em 1em;
    width: 87%;
  }
  .col-bottom h4 {
    font-size: 1.2em;
  }
  .ab-right {
    text-align: left;
    padding: 3em 1em 2em 1em;
  }
  h3.tittle.new {
    font-size: 1.8em;
  }
  .prdt-left {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-bottom: 2em;
  }
  .prdt-left:nth-child(2) {
    margin-bottom:0;
  }
  .test-review img {
    width:45%;
    border: none;
    border-right: 6px solid #1BAFA7;
  }
  .post-details.s-page h2 {
    font-size: 1.4em;
    margin: 1.2em 0 0.5em 0;
    line-height: 1.6em;
  }
  h3.tittle {
    font-size: 1.8em;
  }
  .contact-in {
    margin-top: 2em;
  }
  .app-devices {
    width:90%;
    margin: 30px 0 0 0;
  }
}
@media (max-width:600px) {
  .logo a h1 {
    margin-left: 0;
    padding: 9px 0;
    font-size: 1.8em;
  }
  .top-comments h3, .leave h3 {
    font-size: 1.6em;
  }
  .customer-say {
    padding-top: 2em;
  }
  .feature {
    width: 100%;
    float: left;
    margin-right: 0;
    padding: 0px 14px;
    margin-top: 3%;
  }
  .quotes {
    float: none;
    width: 33%;
    margin-top: 1em;
    margin: 0 auto;
  }
  .de_testi {
    margin: 0;
    border: none;
    padding: 1em 1em;
  }
  .amet-sed h4 {
    margin: 0 0 0.7em;
    font-size: 1.4em;
  }
  .map iframe {
    height:300px;
    border: none;
    width: 100%;
    margin-top: 15px;
  }
  .app-devices {
    width:100%;
    margin: 30px 0 0 0;
  }
  .captn h4 {
    font-size: 1.4em;
  }
}
@media (max-width:480px) {
  .logo a h1 {
    margin-left: 0;
    padding: 9px 0;
    font-size: 1.5em;
  }
  .men {
    width: 12%;
    padding: 4em 0;
  }
  .btm-right .captn {
    bottom: -85%;
  }
  .btm-right1 .captn1 {
    bottom: -77%;
  }
  h2.tittle {
    font-size: 1.6em;
  }
  .test-review img {
    width: 55%;
    border: none;
    border-right: 6px solid #1BAFA7;
  }
  .post-details.s-page h2 {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 1.2em 0 0.5em 0;
    line-height: 1.6em;
  }
  .support {
    margin: 0.5em 0em 0 0;
    padding: 1em 1em;
    width: 100%;
  }
  .support input[type="submit"] {
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 0.88em;
    width: 27%;
  }
  .grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    margin: 0;
    text-align: left;
    font-size: 1em;
  }
  .grid figure p {
    letter-spacing: 1px;
    font-size: 64.5%;
  }
  .blog-pagenat ul li a {
    background: none;
    padding: 8px 0.9em;
  }
  .footer {
    padding: 2em 0;
  }
  p.location {
    float: left;
    color: #999999;
    font-size: 0.875em;
    width: 100%;
    margin-top: 1px;
  }
  .con-top.two {
    margin-left: 0em;
    margin-top: 1em;
  }
  .btm-right:hover .captn h4 {
    margin-top: 120px;
  }
  .captn1 h5 {
    font-size: 17px;
    margin: 10px 0 0 0;
  }
}
@media (max-width:414px) {
  .banner-bottom {
    padding: 3em 0 2em 0;
  }
  h2.tittle {
    font-weight: bold;
    font-size: 1.3em;
  }
  .col-bottom h4 {
    font-size: 1em;
  }
  .features-item h4 {
    font-size: 1em;
  }
  .ab-right {
    text-align: left;
    padding: 2em 1em 0em 1em;
  }
  a.hvr-shutter-in-horizontal {
    padding: 0.5em 1em;
    font-size: 0.8em;
  }
  h3.tittle.three {
    margin-left: 0.5em;
  }
  .feature-grid {
    padding: 2em 0em 2em 0em;
  }
  .col-news-top .date-in .month-in label .day {
    font-size: 2em;
    line-height: 102px;
    margin-bottom: -24px;
    font-weight: 400;
  }
  .col-news-top .date-in .month-in label .month {
    font-size: 10px;
    line-height: 14px;
  }
  span.like {
    font-size:0.87em;
    margin: 3px 0;
  }
  .col-bottom p,.features-item p,.product-left ul li a,.choose_right p,.footer-top p,p.footer-class,.post-details.s-page p,p.men-it {
    font-size: 0.835em;
  }
  .product-left.heading {
    padding: 0 5px;
  }
  h3.tittle.new {
    font-size: 1.2em;
  }
  .product-right.heading {
    padding: 0 5px;
  }
  h3.tittle {
    font-size: 1.3em;
  }
  .customer-grid {
    margin-top: 1em;
    float: left;
    width: 100%;
    padding: 0 5px;
  }
  #client {
    padding-bottom: 1em;
  }
  .contact-in {
    padding: 0 5px;
  }
  .callbacks_nav.next {
    left: auto;
    background-position: right top;
    left: 86%;
  }.choose {
     padding: 2em 1em;
   }
  .choose_left span {
    font-size: 26px;
    top: 8px;
  }
  .time-bg h4 {
    font-size:1.9em;
    padding: 2em 0 0.5em 0;
    line-height: 1.7em;
  }
  p#demo {
    font-size: 1.7em;
  }
  .time-bg {
    min-height:300px;
  }
  .support input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    text-align: left;
  }
  .support input[type="submit"] {
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 0.7em;
    width: 46%;
    margin: 0.5em 3.4em;
  }
  figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 2em;
    padding: 0 0.5em;
  }
  .product, .typography, #gallery, .news-section, #contact, .projects {
    padding: 2em 0;
  }
  .gallery-grids {
    margin: 1em 0 0 0;
  }
  .grid figure h3 {
    word-spacing: -0.15em;
    font-weight: 300;
    margin: 0;
    text-align: left;
    font-size: 0.9em;
  }
  .single-middle {
    padding: 0.5em;
  }
  p.smith a {
    font-size: 1em;
  }
  p.reply {
    float: right;
    padding: 0;
    width: 23%;
    font-size: 0.9em;
  }
  p.men-it {
    float: left;
    width: 72%;
  }
  .leave input[type="submit"] {
    font-size: 0.9em;
    padding: 0.8em;
    margin: 0.5em 0 0 0;
    width: 37%;
  }
  .top-comments h3, .leave h3 {
    font-size: 1.3em;
  }
  .men i {
    font-size: 1.5em;
  }
  .leave textarea {
    resize: none;
    width: 100%;
    margin: 0.5em 0em;
    height: 154px;
  }
  .single-us input[type="text"], .leave textarea, .leave input[type="submit"] {
    font-size: 0.9em;
    width: 100%;
    padding: 0.8em 0.8em;
  }
  .choose_img h3 {
    font-size: 25px;
  }
  .btm-right .captn {
    bottom: -83%;
  }
  .met-in {
    margin: 0 0 0 1em;
  }
}
@media (max-width:384px) {
  .time-bg h4 {
    font-size: 1.6em;
    padding:1em 0 0.5em 0;
    line-height: 1.7em;
  }
  p#demo {
    font-size: 1.7em;
  }
  .time-bg {
    min-height: 228px;
  }
  .amet-sed {
    padding: 0 5px;
  }
  .choose_icon {
    margin-top: 0.5em;
  }
  .banner-two {
    min-height: 80px;
  }
  .blog-pagenat ul li a {
    background: none;
    padding:9px 9px;
    font-size: 0.8em;
    margin-top:0em;
  }
  .blog-pagenat {
    text-align: left;
    margin-top: 2em;
  }
  .support input[type="submit"] {
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 0.7em;
    width: 46%;
    margin: 0.5em 5.4em;
  }
  .post-details.s-page h2 {
    font-size: 0.9em;
  }
  .contact-grid {
    padding: 0 5px;
  }
  .styled-input {
    width: 100%;
    margin: 2em 0 0em;
    position: relative;
  }
  h4.info {
    font-size: 1.4em;
  }
  .map iframe {
    height: 200px;
    border: none;
    width: 100%;
    margin-top: 15px;
  }
  .btm-right .captn {
    bottom: -83%;
  }
  .captn h4 {
    font-size: 1.4em;
  }
  .btm-right:hover .captn h4 {
    margin-top: 130px;
  }
  .ab-left, .feature-grid-image {
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
  }
  .amet-sed h4 {
    margin: 0 0 0.7em;
    font-size: 1.2em;
  }
}
@media (max-width:320px) {
  h3.tittle.three {
    margin-left: 0.5em;
  }
  span.like {
    font-size: 0.65em;
    color: #2ad2c9;
    text-transform: capitalize;
    margin: 3px 0;
  }
  .support input[type="submit"] {
    border: 0;
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    padding: 0.7em;
    width: 46%;
    margin: 0.5em 3.9em;
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
    padding: 0 5px !important;
  }
  .gallery-grid{
    padding: 0 4px;
  }
  .col-news-right,.col-news {
    padding: 0 5px;
  }
  .blog-pagenat ul li a {
    background: none;
    padding:7px 7px;
    font-size: 0.8em;
    margin-top:0em;
  }
  .men {
    width: 21%;
    padding: 6.5em 0;
  }
  .map iframe {
    height: 200px;
    border: none;
    width: 100%;
    margin-top: 15px;
  }
  h3.tittle.new {
    font-size: 1.2em;
  }
  .choose_img h3 {
    font-size: 22px;
  }
  .time-bg h4 {
    font-size: 1.4em;
    padding: 1em 0 0.5em 0;
    line-height: 1.7em;
  }
  .time-bg {
    min-height: 178px;
  }
  p#demo {
    font-size: 1.3em;
  }
  .captn h4 {
    font-size: 1.2em;
  }

}